
.form-card{
  position: absolute;
  top: 0;
  min-width: 200px;
  width: 50%;
  bottom: 0;
  left: 0;
  z-index: 200;
  background-color: #fff;
  padding: 30px;
}
.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.loginform{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tf-hispam{
  font-size: 2.1rem;
  color: #50535A;
  margin-bottom: 50px;
}

.c-male{
color: #0066FF;
}


/* Estilos Boton */
.cli-btn{
border: none;
border-radius: 4px;
margin: 0 5px;
height: 30px;
padding: 0 10px;
font-family: 'Telefonica-Bold' !important;
display: flex;
align-items: center;
& mat-icon{
    margin: 0 5px;
}
&:disabled{
    background-color: #F4F4F3 ;
    color: #fff;
}
}

.btn-l{
height: 38px;
padding: 0 30px;
}

.btn-blue{
background-color: #0066FF;
color: #fff;
transition: ease .3s;
&:hover:enabled{
    background-color: #80B0FF;
}
&:hover:enabled:active{
    background-color: #003180;
}
}

.icon-cent{
display: flex;
justify-content: center;
align-items: center;
padding: 0 10px;
border: none;
position: relative;
float: right;
}

.lab-color{
color: #ffffff;
}

@media (max-width: 850px) {
  .form-card{
      width: 100%;
      padding: 20px;
      background-color: #ffffff;
  }
  .view-backgrond{
      opacity: 0.7;
  }

  .lab-color{
    color: #0066FF;
  }
}
