table {
  width: 100%;
}

.card{
  border: none;
  & img{
      width: 100%;
  }
}
.card-body {
  & label{
  color: #0066FF;
  }
  & a{
      color: #0066FF;
      font-weight: bold;
  }
}
td,
th {
  width: -10%;
}

.icon-18 {
  width: 18px !important;
  height: 18px !important;
  font-size: 18px !important;
}

.btn-emerald {
  height: 26px;
  background-color: #ffffff;
  color: #fff;
  transition: ease 0.3s;
  cursor: pointer;
  &:hover:enabled {
    background-color: #00bec0;
    color: #fff;
  }
  &:hover:enabled:active {
    background-color: #b4dee6;
  }
}

.cli-form-element {
  margin-bottom: 0 !important;
}

.cli-btn {
  border: solid 1px #00bec0;
  border-radius: 2px;
  margin: 0 4px;
  padding: 0 6px;
  font-family: "Telefonica-Bold" !important;
  display: flex;
  align-items: center;
  height: 30px;
  color: #00bec0;
  & mat-icon {
    margin: 0 5px;
  }
  &:disabled {
    background-color: #b4dee6;
    color: #fff;
  }
}

/* Paginator */
.paginator {
  display: flex;
  padding: 15px 0;
}

.pag-btn {
  border: solid 1px #eff1f7;
  font-size: 12px;
  display: flex;
  justify-content: center;
  line-height: 24px;
  padding: 3px;
  width: 30px;
  height: 30px;
  margin-right: -1px;
  transition: 0.3s;
}
.pag-btn:hover {
  background-color: #f9fafd;
  cursor: pointer;
}
.pag-btn-br {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.pag-btn-bl {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

/* Pagination 2 */
.cli-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.btn-blue {
  background-color: #0066ff;
  color: #fff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: #80b0ff;
  }
  &:hover:enabled:active {
    background-color: #003180;
  }
}
.cli-pagination {
  &-container {
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    border: solid 1px #e9eae8;
    border-radius: 2px;
  }
  &-page {
    font-family: "Telefonica-Bold";
    margin: 0 10px;
  }
}
.cli-pagination-sub {
  &-container {
    padding: 5px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    border: solid 1px #e9eae8;
    border-radius: 2px;
  }
  &-page {
    font-family: "Telefonica-Bold";
    margin: 0 5px;
  }
}

.table-actions {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

.pass-btn {
  width: 36px;
  min-width: 36px;
  margin: 0;
  padding: 0;
}
.flex-1 {
  flex: 1 1;
}

.search-user {
  height: 35px;
  align-items: center;
}

.row {
  justify-content: space-between;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 20px;
}
.card-title {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  line-height: 15px;
}
