<!-- <div [ngClass]="{'header-fixedaside':fixedAside,'header-hiddenaside':!fixedAside}" class="cli-header"> -->

<!-- <div class="cli-header"> -->
<mat-toolbar class="cli-headerX toolbar-header">
  <mat-sidenav #sidenav> </mat-sidenav>

  <div class="header-iconD">
    <button mat-icon-button
            (click)="sidenav.toggle()"
            style="color: rgb(207, 12, 12)">
      <mat-icon mat-list-icon>menu</mat-icon>
    </button>
  </div>

  <div class="logoheader">
    <img
      class="hlogo"
      src="../../../assets/images/logos/tercerosLogoHeader.svg"
    />
    <div class="logo-let">
      <div style="font-weight: bold">Emp. colaboradoras</div>
    </div>
  </div>


    <div style="flex: 1 1 auto"></div>
    <div class="personname">{{ fullName | uppercase }}</div>
    <app-user-section
      [nameini]="userAbbreviation"
      class="user-bag"
    ></app-user-section>
    <mat-icon class="menu-icon-header"
              [matMenuTriggerFor]="menu"
      >keyboard_arrow_down
    </mat-icon>

    <mat-menu class="mat-menu-header" #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span class="userName">{{ fullName | uppercase }}</span>
      </button>
      <!-- <hr /> -->
      <button mat-menu-item
              (click)="logout()"
              class="btn-header">
        <mat-icon>close</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>


</mat-toolbar>

<!-- </div> -->
