<div class="cli-header">
  <div (click)="openMobileMenu()" class="header-icon">
    <mat-icon>menu</mat-icon>
  </div>
  <div class="logoheader">
    <img
      class="hlogo"
      src="../../../assets/images/logos/tercerosLogoHeader.svg"
    />
    <div class="logo-let">
      <div class="title-header" style="font-weight: bold">Web de Terceros</div>
    </div>
  </div>
  <div class="header-nav-items"></div>
  <div class="personname">{{ fullName | uppercase }}</div>
  <app-user-section [nameini]="userAbbreviation"></app-user-section>

  <mat-icon class="menu-icon" [matMenuTriggerFor]="menu"
    >keyboard_arrow_down</mat-icon
  >
</div>

<mat-menu class="mat-menu-header" #menu="matMenu">
  <button mat-menu-item>
      <mat-icon>person</mat-icon>
    <span class="userName">{{ fullName | uppercase }}</span>
  </button>
  <hr>
  <button mat-menu-item (click)="logout()"
          class="btn-header">
    <mat-icon>close</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
</mat-menu>

<app-menu-mobile></app-menu-mobile>
