:host {
	height: 100vh;
    width: 100%;
}
.error-message{
	margin: auto;
    max-width: 300px;
    text-align: center;
}
.error-icon{
	display: block;
	margin: auto;
}
.cli-canvas{
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.cli-canvas-fixedaside{
  padding-left: 265px;
}

.disclaimer{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #0b273973;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    &-content{
		background-color: #fff;
		display: flex;
		flex-direction: column;
        margin: auto;
        height: 90%;
        width: 90%;
        overflow: auto;
        z-index: 101;
        padding: 20px;
        box-shadow: 0 1px 1px 0 #00000020, 0 2px 5px 0 #00000050;;
	}
	&-btn-ok{
        color: #fff;
        margin: 10px;
		background-color: #00BEC0
    }
    &-btns{
        display: flex;
        align-items: center;
        justify-content: center;
    }
	&-btn-cancel{
        margin: 10px;
		background-color: #E9EAE8;
    }
    &-text{
        padding: 5px;
        color: #2B3447;
    }
    &-title{
        padding: 5px;
        font-family: "Telefonica-Bold";
        color: #00BEC0
    }
    &-g-title{
        padding: 5px;
        text-align: center;
        font-size: 1.2rem;
        font-family: "Telefonica-Bold";
        color: #00BEC0
	}
}


/* ------------------ */
@media (max-width: 850px) {
  .cli-canvas-fixedaside{
    padding-left: 0px;
  }

}
