:host {
  height: 100vh;
  width: 100%;
}
.error-message{
	margin: auto;
    max-width: 300px;
    text-align: center;
}

.error-icon{
	display: block;
	margin: auto;
}

.cli-body{
  font-family: "Telefonica";
  height: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.cli-canvas{
  padding-top: 56px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.cli-canvas-fixedaside{
  padding-left: 265px;
}
.cli-canvas-hiddenaside{
  padding-left: 70px;
}
.cli-content{
  padding: 20px;
  flex: 1 0 auto;
}



/* Burbuja */
/* .cli-aside{
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  z-index: 50;
  background-color: #F2F4FF;

  color: #132A34;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 1px 0 #0000004d, 0 2px 5px 0 #00000036 ;
}
 */
/* .aside-btn-float{
  z-index: 60;
  background-color: rgb(146, 30, 30) ;
  box-shadow: #b4dee6;
  right: -14px;
  top: 13px;
  color: #fff;
  margin: auto;
  padding: 0;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:  0.3s ease;
} */
/* .aside-btn-float:hover{
  cursor: pointer;
} */
@media (max-width: 850px) {
/*   .title-header {
    font-size: 13px;
  } */

/*   .logoheader {
    margin-left: 0px;
  } */

 /*  .personname {
    font-size: 10px;
  } */

/*   .personname {
    font-size: 0px;
  }

  .menu-icon {
    font-size: 25px;
  }

  .logo-let {
    font-size: 0.9rem;
    margin-left: 4px;
  }

  .toolbar-header {
    padding: 0 4px;
  }
  .cli-aside{
    top: 56px;
  } */
}

