<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav  >
    <mat-toolbar style="background-color: #2b3447;">
      <span style="text-align: center; color: #fff;">Menú
        <div
        mat-button
        [ngClass]="{ opened: sideNavState }"
        (click)="onSinenavToggle()"
      >
        <mat-icon *ngIf="sideNavState">chevron_left</mat-icon>
        <mat-icon *ngIf="!sideNavState">chevron_right</mat-icon>
      </div>
      </span>

    </mat-toolbar>

    <mat-accordion>
      <mat-expansion-panel
        [hideToggle]="!sideNavState"
        *ngFor="let menu of menuList; let i = index"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="menu-link" (click)="setMenuIndex(i)">
            <a [ngClass]="{ active: menuSelected == i }">
              <mat-icon [matTooltip]="menu.info" class="menu-icon">{{
                menu.icon
              }}</mat-icon>
              <span class="menu-info" *ngIf="sideNavState">
                {{ menu.name }}
              </span>
            </a>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngFor="let subMenu of menu.subMenuList" >
          <a class="submenu-link">

          <i class="submenu-icon">
            <mat-icon [matTooltip]="subMenu.info"> {{ subMenu.icon }}</mat-icon>
          </i>
          <span *ngIf="sideNavState">
            {{ subMenu.name }}
          </span>
        </a>

        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>

  <mat-toolbar class="toolbar-header">
    <button mat-icon-button (click)="sidenav.toggle()" style="color: #fff">
      <mat-icon mat-list-icon>menu</mat-icon>
    </button>

    <div class="logoheader">
      <img
        class="hlogo"
        src="../../../assets/images/logos/tercerosLogoHeader.svg"
      />
      <div class="logo-let">
        <div style="font-weight: bold">Emp. colaboradoras</div>
      </div>
    </div>

    <!-- User Secction -->
    <div style="flex: 1 1 auto"></div>
    <div class="personname">{{ fullName | uppercase }}</div>
    <app-user-section
      [nameini]="userAbbreviation"
      class="user-bag"
    ></app-user-section>

    <mat-icon class="menu-icon-header" [matMenuTriggerFor]="menu"
      >keyboard_arrow_down</mat-icon
    >

    <mat-menu class="mat-menu-header" #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span class="userName">{{ fullName | uppercase }}</span>
      </button>
      <hr />
      <button mat-menu-item (click)="logout()" class="btn-header">
        <mat-icon>close</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <app-footer></app-footer>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
