<mat-sidenav-container fullscreen  style="background:#f2f4ff">

  <mat-toolbar class="toolbar-header">
    <button
    (click)="sidenav.toggle()"
      mat-icon-button
      style="color: #fff"
    >
      <mat-icon mat-list-icon>menu</mat-icon>
    </button>


    <div class="logoheader">
      <img
        class="hlogo"
        src="../../../assets/images/logos/tercerosLogoHeader.svg"
      />
      <div class="logo-let">
        <div style="font-weight: bold">Emp. colaboradoras</div>
      </div>
    </div>

    <div style="flex: 1 1 auto"></div>
    <div class="personname">{{ fullName | uppercase }}</div>
    <app-user-section
      [nameini]="userAbbreviation"
      class="user-bag"
    ></app-user-section>

    <mat-icon class="menu-icon-header"
            [matMenuTriggerFor]="menu"
    >keyboard_arrow_down
  </mat-icon>

    <mat-menu class="mat-menu-header" #menu="matMenu">
      <button>
        <mat-icon>person</mat-icon>
        <span class="userName">{{ fullName | uppercase }}</span>
      </button>

      <hr />
      <button (click)="logout()" class="btn-header">
        <mat-icon>close</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
    <!-- <app-header></app-header> -->

  </mat-toolbar>


  <mat-sidenav mode="sideX"
        #sidenav class="cli-aside">
    <app-sidebar ></app-sidebar>
  </mat-sidenav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>

</mat-sidenav-container>
