<div class="user-form text-center mt-20" style="margin-top: 80px;">
  <h1>Validar pase de Ingreso</h1>

   <!-- QR CODE: JUST TODAY RESERVATIONS -->
   <ng-container>
    <div  class="qrcode-wrapper">

        <!-- MY QR CODE -->
        <ng-container *ngIf="!scanningQR">
            <!-- <qr-code value="RE-{{detail.id | number:'9.0'}}"></qr-code>
            <div>RE-{{detail.id | number:'9.0'}}</div> -->
        </ng-container>

        <!-- QR READER -->
        <qr-scanner *ngIf="scanningQR"
                [debug]="false"
                [canvasWidth]="620"
                [canvasHeight]="620"
                [stopAfterScan]="true"
                [updateTime]="500">
        </qr-scanner>
    </div>

    <!-- BUTTON READ QR -->
    <div style="display: flex; justify-content: center;">
        <button *ngIf="!scanningQR"
                class="cli-btn btn-emerald"
                (click)="scanSiteQrCode()"
                >
            <mat-icon class="icon-18">qr_code_scanner</mat-icon>
          Scanea tu código
        </button>
        <button *ngIf="scanningQR"
                class="cli-btn btn-orange"
                (click)="stopScanningQr()"
                >Dejar de escanear
        </button>
    </div>
</ng-container>
</div>

