*{
  margin:20px
}

.qrcode-wrapper{
  width: 200px;
  min-height: 100px;
  padding: 10px;
  margin: 10px auto;
  border: solid 1px #B6B7B7;
  border-radius: 2px;
  font-size: .9rem;
  line-height: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon-18{
  width: 18px !important;
  height: 18px !important;
  font-size: 18px !important;
}


.btn-blue{
  background-color: #0066FF;
  color: #fff;
  transition: ease .3s;
  &:hover:enabled{
      background-color: #80B0FF;
  }
  &:hover:enabled:active{
      background-color: #003180;
  }
}

.btn-orange{
  background-color: #E66C64;
  color: #fff;
  transition: ease .3s;
  &:hover:enabled{
      background-color: #E3A19A;
  }
  &:hover:enabled:active{
      background-color: #912C31;
  }
}

.cli-btn{
  border: none;
  border-radius: 2px;
  margin: 0 5px;
  height: 30px;
  padding: 0 10px;
  font-family: 'Telefonica-Bold' !important;
  display: flex;
  align-items: center;
  & mat-icon{
      margin: 0 5px;
  }
  &:disabled{
      background-color: #F4F4F3;
      color: #fff;
  }
}



.icon-center{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border: none;
  position: relative;
  float: right;
  height: 0px;
}
