* {
  margin: 0px;
}

.qrcode-wrapper {
  width: 260px;
  min-height: 200px;
  padding: 10px;
  margin: 0px 0px 20px 0px;
  border: solid 1px #b6b7b7;
  border-radius: 2px;
  font-size: 0.9rem;
  line-height: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.qr-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.user-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  margin-left: 0px;
}

.icon-18 {
  width: 18px !important;
  height: 18px !important;
  font-size: 18px !important;
}

.btn-emerald {
  height: 26px;
  background-color: #00bec0;
  color: #fff;
  transition: ease 0.3s;
  cursor: pointer;
  &:hover:enabled {
    background-color: #b4dee6;
  }
  &:hover:enabled:active {
    background-color: #b4dee6;
  }
}

.btn-orange {
  background-color: #e66c64;
  color: #fff;
  transition: ease 0.3s;
  cursor: pointer;
  &:hover:enabled {
    background-color: #e3a19a;
  }
  &:hover:enabled:active {
    background-color: #912c31;
  }
}

.cli-btn {
  border: none;
  border-radius: 2px;
  margin: 0 4px;
  padding: 0 6px;
  font-family: "Telefonica-Bold" !important;
  display: flex;
  align-items: center;
  height: 30px;
  & mat-icon {
    margin: 0 5px;
  }
  &:disabled {
    background-color: #b4dee6;
    color: #fff;
  }
}
.cli-input {
  border: solid 0.5px #78cccc;
  background-color: #f4f4f3;
  border-radius: 2px;
  padding: 4px 2px;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: #f2f4ff;
  }
  &:focus:enabled {
    background-color: transparent;
    border-color: #00bec0;
  }
  &:disabled {
    background-color: transparent;
    color: #86888c;
    border-color: transparent;
  }
}

.input-codigo {
  width: 25px;
  // max-width: 25px;
  min-width: 25px;
  text-align: center;
  margin-left: 1px;
}
.spacer-input {
  margin-top: 20px;
  font-size: larger;
  margin-block-end: 2px;
  padding: 2px;
}

.icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border: none;
  position: relative;
  float: right;
  height: 0px;
}

.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cli-input-white {
  border: solid 0.5px #b6b7b7;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 10px;
  transition: ease 0.3s;

  margin: 0px -8px;
  &:hover:enabled {
    border-color: #00bec0;
  }
  &:focus:enabled {
    border-color: #00bec0;
  }
  &:disabled {
    background-color: #f8f8f8;
    color: #86888c;
  }
}

.cli-form-element {
  margin-bottom: 0px !important;
}

.col-f-2 {
  width: 50%;
  padding: 5px 10px;
}
@media screen and (max-width: 856px) {
  .qrcode-wrapper {
    width: 260px;
    margin: 2px;
    padding: auto;
  }

  .user-form {
    margin-left: 0px;
  }

  .cli-btn {
    margin-top: 15px;
  }
  .cli-input-white {
    padding: 5px 1px;
  }
  .input-codigo {
    width: 20px;
  }
}
