.view-backgrond {
  background-image: url("../../../../assets/images/foto-login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  opacity: 1.7;
  width: 55%;
  height: 100%;

  border-radius: 50% 0% 0% 50%;
  margin-left: 45%;
}

.form-card {
  position: absolute;
  top: 0;
  width: 45%;
  bottom: 0;
  left: 0;
  z-index: 200;
  background-color: #fff;
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 35%;
}

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tf-hispam {
  font-size: 1.6rem;
  color: #50535a;
  letter-spacing: 1px;
  text-align: center;
}

.logo {
  height: 70px;
  margin-bottom: -30px;
  margin-block: 20px;
}

.c-male {
  color: #00bec0;
}

.cli-btn {
  border: none;
  border-radius: 4px;
  margin: 0 5px;
  height: 30px;
  padding: 0 10px;
  font-family: "Telefonica-Bold" !important;
  display: flex;
  align-items: center;
  cursor: pointer;
  & mat-icon {
    margin: 0 5px;
  }
  &:disabled {
    background-color: #b4dee6;
    color: darkgrey;
    cursor: auto;
  }
}

.btn-l {
  height: 38px;
  padding: 0 30px;
}

.btn-emerald {
  background-color: #00bec0;
  color: #fff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: #b4dee6;
  }
  &:hover:enabled:active {
    background-color: #b4dee6;
  }
}

.icon-cent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border: none;
  position: relative;
  float: right;
}

.lab-color {
  color: #828282;
}

@media (max-width: 850px) {
  .view-backgrond {
    margin: 2em autos;
    border-radius: 0%;
    height: 0%;
  }

  .form-card {
    padding: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    background-color: #fff;
    width: 0%;
  }

  .lab-color {
    color: #828282;
  }
  .tf-hispam {
    font-size: 1.5rem;

  }

  .login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    width: 390px;
  }
}
