<div class="view-backgrond"></div>

<div class="form-card">
  <div class="login-form">

    <img class="logo" src="../../../assets/images/logos/tercerosLogo.svg" />
    <div class="tf-hispam">
      <span class="c-male">Bienvenido a </span>
      <br>
      <br>
      Empresa de Colaboradores
    </div>

    <form [formGroup]="myLoginForm"
          class="loginform my-5">

      <!-- email de usuario -->
      <div style="width: 300px">
        <label class="col-form-label lab-color">Usuario</label>
        <div>
          <input
            class="form-control"
            type="email"
            formControlName="username"
            placeholder="name@example.com"
          />
          <small
            class="form-text text-danger"
            *ngIf="campoNoValido('username')"
          >
            * Debe ingresar un usuario válido
          </small>
        </div>
      </div>

      <!-- Contraseña -->
      <div class="form-group" style="width: 300px">
        <label class="col-form-label lab-color">Contraseña</label>
        <div class="">
          <input
            type="password"
            class="form-control"
            required=""
            placeholder="Contraseña"
            formControlName="password"
          /><small
            class="form-text text-danger"
            *ngIf="campoNoValido('password')"
          >
            * Debe de contener como mínimo 4 caracteres
          </small>
        </div>
      </div>

      <!-- Iniciar sesión-->
      <div class="form-group text-center">
        <button
          class="cli-btn btn-l btn-blue my-4"
          type="submit"
          (click)="login()"
          [disabled]="myLoginForm.invalid"
        >
          <mat-icon class="icon-cent">login</mat-icon> Ingresar
        </button>
      </div>
    </form>

  </div>
</div>
