<button (click)="close()" class="icon-btn btn-trans c-orange moda-close-btn">
  <mat-icon>close</mat-icon>
</button>

<div class="modal-title">{{ editData ? "Actualizar" : "Crear" }} Usuario</div>

<form class="cli-row" [formGroup]="usuariosForm">
  <div class="cli-form-element col-f-2">
    <label>Nombres y apellidos:</label>
    <input class="cli-input-white" formControlName="nombre" />
  </div>
  <div class="cli-form-element col-f-2">
    <label>Correo del usuario:</label>
    <input class="cli-input-white" formControlName="correo" />
  </div>

  <div class="cli-form-element col-f-2">
    <label>Género:</label>
    <select class="cli-input-white" formControlName="genero">
      <option value="" disabled>-- Seleccionar --</option>
      <option value="M">Masculino</option>
      <option value="F">Femenino</option>
    </select>
  </div>

  <div class="cli-form-element col-f-2">
    <label>País</label>
    <select class="cli-input-white" formControlName="pais">
      <option value="" disabled>-- Seleccionar --</option>
      <option value="ARG">Argentina</option>
      <option value="CHI">Chile</option>
      <option value="COL">Colombia</option>
      <option value="URU">Uruguay</option>
      <option value="MEX">Mexico</option>
      <option value="PER">Peru</option>
      <option value="ECU">Ecuador</option>
    </select>
  </div>

  <div class="cli-form-element col-f-2">
    <label>Cargo:</label>
    <input class="cli-input-white" formControlName="cargo" />
  </div>
  <div class="cli-form-element col-f-2">
    <label>Empresa</label>
    <select class="cli-input-white" formControlName="empresa">
      <option value="" disabled>-- Seleccionar --</option>
      <option value="EXPERIS">Experis</option>
      <option value="INDRA">Indra</option>
      <option value="ABC">Abc</option>
      <option value="XYZ">Xyz</option>
    </select>
  </div>
</form>

<div class="cli-form-buttons">
  <button (click)="close()" class="cli-btn btn-grey">Cancelar</button>
  <button (click)="agregarUsuario()" class="cli-btn btn-blue">
    {{ actionBtn }}
  </button>
</div>
