<div class="tf-hispam">
  <span class="c-male">Bienvenido a </span>
  <div style="margin-top: 5px">Empresas Colaboradoras</div>
</div>

<div class="row global-content">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios registrados</h4>
        <h5 class="card-subtitlte">
          Usuarios registrados en la Web de Terceros
        </h5>

        <div class="row">
          <div class="flex-1">
            <mat-form-field
              appearance="outline"
              style="margin-left: 10px; color: #00bec0; width: 40%"
            >
              <mat-label>Buscar Usuario</mat-label>
              <input
                matInput
                (keyup)="applyFilter($event)"
                #input
                autocomplete="off"
                type="text"
              />
              <button mat-button matSuffix class="pass-btn">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div style="display: flex; justify-content: end; margin-bottom: 4px">
          <button
            type="button"
            class="cli-btn btn-emerald mb-2"
            (click)="createUser()"
          >
            <mat-icon class="icon-18">add</mat-icon>Nuevo usuario
          </button>
        </div>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let row">{{ row.id }}</td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
              <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="genero">
              <th mat-header-cell *matHeaderCellDef>Genero</th>
              <td mat-cell *matCellDef="let row">{{ row.genero }}</td>
            </ng-container>

            <ng-container matColumnDef="cargo">
              <th mat-header-cell *matHeaderCellDef>Cargo</th>
              <td mat-cell *matCellDef="let row">{{ row.cargo }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let row">

                <button
                  (click)="editUsers(row)"
                  class="icon-btn btn-trans c-blue moda-close-btn"
                >
                  <mat-icon>edit</mat-icon>
                </button>

                <button
                  (click)="deleteUsers(row.id)"
                  style="margin-left: 35px;"
                  class="icon-btn btn-trans c-fucsia moda-close-btn"
                >
                  <mat-icon>delete</mat-icon>
                </button>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
              </td>
            </tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page of users"
          ></mat-paginator>
        </div>

        <!-- <div class="paginator">
          <div style="flex: 1 1">Mostrando 5 de 100</div>
          <div class="pag-btn pag-btn-bl">
            <mat-icon>navigate_before</mat-icon>
          </div>
          <div class="pag-btn">1</div>
          <div class="pag-btn">2</div>
          <div class="pag-btn pag-btn-br">
            <mat-icon>navigate_next</mat-icon>
          </div>
        </div>
         -->
      </div>
    </div>
  </div>
</div>
