
.cli-title-center {
  text-align: center;
  font-size: 25px;
  line-height: 10px;
  position: relative;
  margin-bottom: 20px;
}

.c-male {
  color: #00bec0;
}

.cli-subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 10px;
  position: relative;
  font-weight: 200;
}

.cli-card {
  min-width: 0;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
  height: 100%;
}

.cli-card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem 2rem;
}

.cli-table {
  margin-left: 25%;
  // width: 55%;
  margin: 0 auto;
  background-color: #fff;
  & th {
    padding: 5px;
    font-weight: 500;
    text-align: center;
  }
  & td {
    vertical-align: middle;
    text-align: left;
    font-size: 0.9rem;
    padding: 3px 10px;

  }
  &-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.w100{
  width: 400px;
}

.w50{
  width: 200px;
}


.w30{
  width: 50px;
}

.cli-btn {
  border: none;
  border-radius: 2px;
  margin: 0 4px;
  padding: 0 6px;
  font-family: "Telefonica-Bold" !important;
  display: flex;
  align-items: center;

  & mat-icon {
    margin: 0 5px;
  }
  &:disabled {
    background-color: #b4dee6;
    color: #fff;
  }
}
.btn-emerald {
  height: 30px;
  background-color: #00bec0;
  color: #fff;
  transition: ease 0.3s;
  cursor: pointer;
  margin-bottom: 30px;
  &:hover:enabled {
    background-color: #b4dee6;
  }
  &:hover:enabled:active {
    background-color: #b4dee6;
  }
}

.btn-l {
  height: 25px;
  width: 40px;
  padding: 0 10px;
  margin: 0 2px;
  margin-left: 15px;
  justify-content: center;
}

.icon-18 {
  width: 18px !important;
  height: 18px !important;
  font-size: 18px !important;
}

.btn-magenta {
  background-color: #fff;
  border: solid 0.5px #9e9e9e;;
  color: #5b5f5b;
  transition: ease 0.3s;
  cursor: pointer;
  &:hover:enabled {
    background-color: #fbc7de;
  }
  &:hover:enabled:active {
    background-color: #FF4081;
    color: #fff;
  }
}

.enabled-button {
  background-color: #FF4081;
  border: solid 0.5px #9e9e9e;;
  color: #fff;
  transition: ease 0.3s;
  cursor: pointer;
  &:hover:enabled {
    background-color: #fbc7de;
  }

}
/* .enabled-button{
  background: green;
  color: #fff;
} */

.cli-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  &-title {
    width: 100%;
    font-family: "Telefonica-Bold";
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  &-subtitle {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: "Telefonica-Bold";
    border-bottom: 1px solid #d3d4d3;
    display: flex;
    align-items: center;
    & mat-icon {
      margin-right: 10px;
    }
  }
  &-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
}




@media (max-width: 850px) {
  .cli-card-body {
    min-height: 0.5px;
    padding: 1rem 1rem;
  }
  .btn-l {
    width: 30px;
    padding: 0 10px;
    margin-left: 5px;
  }
  .cli-table {
margin-left: 0%;
    width: 100%;
    background-color: #fff;
    & th {
      padding: 3px;
      font-weight: 400;
      text-align: center;
    }
    & td {
      vertical-align: middle;
      text-align: left;
      font-size: 0.7rem;
      padding: 2px 6px;

    }
  }

}

