
<!-- TABLA EMPRESAS -->
<div class="global-content">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mantenimiento Empresas</h4>
        <h5 class="card-subtitlte">
          Lista de Empresas
        </h5>

        <div class="row">
          <div class="cli-table-search">
            <input
              matInput
              (keyup)="applyFilter($event)"
              #input
              autocomplete="off"
              type="text"
              placeholder="Buscar por nombre"
            />
            <mat-icon class="icon-20">search</mat-icon>
          </div>

          <div>
            <button
              type="button"
              class="cli-btn btn-emerald mb-2"
              (click)="createCompany()"
            >
              <mat-icon class="icon-18">add</mat-icon>Nueva Empresa
            </button>
          </div>
        </div>

        <div class="table-container">
          <table mat-table class="cli-table" [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let row">{{ row.id }}</td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
              <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="correo">
              <th mat-header-cell *matHeaderCellDef>Correo del contacto</th>
              <td mat-cell *matCellDef="let row">{{ row.correo }}</td>
            </ng-container>
            <ng-container matColumnDef="ruc">
              <th mat-header-cell *matHeaderCellDef>RUC</th>
              <td mat-cell *matCellDef="let row">{{ row.ruc }}</td>
            </ng-container>

            <ng-container matColumnDef="nContacto">
              <th mat-header-cell *matHeaderCellDef>Número del Contacto</th>
              <td mat-cell *matCellDef="let row">{{ row.nContacto }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let row">
                <div class="cli-table-actions">
                  <button
                    (click)="editCompany(row)"
                    matTooltip="Editar"

                    class="icon-btn btn-trans c-blue"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>

                  <button
                    (click)="deleteCompany(row.id)"
                    style="margin-left: 35px"
                    matTooltip="Eliminar"

                    class="icon-btn btn-trans c-fucsia"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
              </td>
            </tr>
          </table>

          <mat-paginator
            class="table-container"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page of users"
          ></mat-paginator>
        </div>


      </div>

       <!-- PAGINACIÓN -->
       <!-- <div class="cli-loader" *ngIf="loadingItem">
        <mat-spinner style="margin-right: 20px;" diameter=20></mat-spinner> cargando...
      </div>

      <div *ngIf="!loadingItem && data.length == 0" class="cli-loader">No hay elementos para mostrar</div>

      <div *ngIf="!loadingItem && table_settings.pages>1" class="cli-pagination-container">
        <div class="cli-pagination-page">Página: </div>
        <button [disabled]="table_settings.page == 1"
                (click)="doPageChange(-1)"
                class="icon-btn btn-blue">
          <mat-icon class="icon-20">chevron_left</mat-icon>
        </button>
        <div class="cli-pagination-page">
          {{table_settings.page}}
        </div>
        <button [disabled]="table_settings.page == table_settings.pages" (click)="doPageChange(1)"
          class="icon-btn btn-blue" style="margin-right: 10px;">
          <mat-icon class="icon-20">chevron_right</mat-icon>
        </button>
        de
        <div style="margin-left: 10px;"> {{ table_settings.pages}} </div>
      </div> -->

    </div>
  </div>
</div>
