// LAYOUT
// WIDTH
$aside-fixed-width: 265px;
$aside-hover-width: 70px;
$user-panel-width: 350px;

// HEADER HEIGTH
$header-height: 56px;

// PALETA MOVISTAR - 1

// PALETA GREY
$color-grey-0: #f8f8f8;
$color-grey-1: #F4F4F3;
$color-grey-2: #E9EAE8;
$color-grey-3: #D3D4D3;
$color-grey-4: #B6B7B7;
$color-grey-5: #86888C;
$color-grey-6: #50535A;

// PALETA BASE
// TELEFONICA
$color-primary: #0066FF;
$color-primary-l0: #CCDFFF;
$color-primary-l1: #99C0FF;
$color-primary-l2: #66A2FF;
$color-primary-l3: #3384FF;
$color-primary-d1: #0054D5;
$color-primary-d2: #0042AA;
$color-primary-d3: #003180;

$color-secondary: #2B3447;
$color-secondary-l1: #9298A7;
$color-secondary-l2: #6F7787;
$color-secondary-l3: #4C5568;
$color-secondary-d1: #222B3D;
$color-secondary-d2: #1A2232;
$color-secondary-d3: #121927;


$color-primary-op: #019DF412;
$color-green-op: #5CB61512;
$color-purple-op: #A13EA112;
$color-magenta-op: #E6378012;
$color-orange-op: #ec624b12;
$color-yellow-op: #F28D1512;


// HISPAM COLORS
$color-hispam-dark: #023f5a;
$color-hispam-light: #04eafa;

// COLORES VARIOS
// TELEFONICA
$color-blue: #0066FF;
$color-blue-l: #80B0FF;
$color-blue-d: #003180;

$color-green: #5CB615;
$color-green-l: #BDE4A4;
$color-green-d: #3C7521;

$color-turq: #59C2C9;
$color-turq-l: #67E0E5;
$color-turq-d: #3E8A8A;

$color-purple: #C466EF;
$color-purple-l: #E7C2F8;
$color-purple-d: #8A1A93;

$color-magenta: #E63780;
$color-magenta-l: #FBC7DE;
$color-magenta-d: #922859;

$color-orange: #E66C64;
$color-orange-l: #E3A19A;
$color-orange-d: #912C31;

$color-yellow: #EAC344;
$color-yellow-l: #F5E98A;
$color-yellow-d: #AD842D;

$white: #FFF;
$bg-color-2: #F9FAFD;
$bg-color-3: #F4F6FB;
$bg-color-4: #EFF1F7;
$bg-color-5: #e8eaf3;
$telefonica-white: #F2F4FF;

// FONT COLORS
$font-color-1: #c3c5ca;
$font-color-2: #8F97AF;
$font-color-3: #58617A;
$font-color-4: #2B3447;
$font-color-5: #132A34;
$font-color-6: #031A34;


// SHADOW
$shadow-aside: 0 1px 1px 0 #0000004d, 0 2px 5px 0 #00000036 ;
$shadow-lvl-1: 0 1px 1px 0 #00000020, 0 2px 5px 0 #00000020;
$shadow-lvl-2: 0 1px 1px 0 #00000020, 0 2px 5px 0 #00000050;
$shadow-lvl-3: 0 1px 1px 0 #00000020, 0 2px 5px 0 #00000080;

// Animations
$transition: 0.3s ease !default;


