.emergencyform{
    max-width: 600px;
    margin: 0 auto;
    min-height: 300px;
    &-item{
        padding: 20px;
        display: flex;
        align-items: center;
        font-size: 18px;
        & label{
            width: 100px;
        }
        & select{
            padding: 5px 10px;
            border-radius: 3px;
            border: solid 1px lightblue;
            width: 250px;
            margin-left: 10px;
        }
    }
    &-loader{
        padding: 10px;
        text-align: center;
        color: grey;
    }
    &-btns{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    &-btn{
        padding: 8px 10px;
        border-radius: 3px;
        border: none;
        background-color: rgb(27, 75, 122);
        color: #fff;
        margin: 0 5px;
        font-size: 18px;
        &:disabled{
            background-color: rgb(157, 157, 157);
            color: grey;
        }
    }
    &-btn2{
        padding: 8px 10px;
        border-radius: 3px;
        border: none;
        background-color: rgb(195, 195, 195);
        margin: 0 5px;
        font-size: 18px;
    }
}

.triaje{
    font-size: 18px;
    line-height: 21px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    & li{
        margin-top: 20px;
    }
}
.okqr{
    color: #5CB615;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    & mat-icon{
        font-size: 30px;
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
}
.center{
    text-align: center;
}

.qrcode{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}