table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: -10%;
}

.icon-18 {
  width: 18px !important;
  height: 18px !important;
  font-size: 18px !important;
}

.btn-emerald {
  height: 26px;
  background-color: #ffffff;
  color: #fff;
  transition: ease 0.3s;
  cursor: pointer;
  &:hover:enabled {
    background-color: #00bec0;
    color: #fff;
  }
  &:hover:enabled:active {
    background-color: #b4dee6;
  }
}

.cli-btn {
  border: solid 1px #00bec0;
  border-radius: 2px;
  margin: 0 4px;
  padding: 0 6px;
  font-family: "Telefonica-Bold" !important;
  display: flex;
  align-items: center;
  height: 30px;
  color: #00bec0;
  & mat-icon {
    margin: 0 5px;
  }
  &:disabled {
    background-color: #b4dee6;
    color: #fff;
  }
}

/* Paginator */
.paginator {
  display: flex;
  padding: 15px 0;
}

.pag-btn {
  border: solid 1px #eff1f7;
  font-size: 12px;
  display: flex;
  justify-content: center;
  line-height: 24px;
  padding: 3px;
  width: 30px;
  height: 30px;
  margin-right: -1px;
  transition: 0.3s;
}
.pag-btn:hover {
  background-color: #f9fafd;
  cursor: pointer;
}
.pag-btn-br {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.pag-btn-bl {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

/* Pagination 2 */
.cli-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.btn-blue {
  background-color: #0066ff;
  color: #fff;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: #80b0ff;
  }
  &:hover:enabled:active {
    background-color: #003180;
  }
}
.cli-pagination {
  &-container {
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    border: solid 1px #e9eae8;
    border-radius: 2px;
  }
  &-page {
    font-family: "Telefonica-Bold";
    margin: 0 10px;
  }
}
.cli-pagination-sub {
  &-container {
    padding: 5px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    border: solid 1px #e9eae8;
    border-radius: 2px;
  }
  &-page {
    font-family: "Telefonica-Bold";
    margin: 0 5px;
  }
}

.table-actions {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

.pass-btn {
  width: 36px;
  min-width: 36px;
  margin: 0;
  padding: 0;
}
.flex-1 {
  flex: 1 1;
}

.search-user {
  height: 35px;
  align-items: center;
}

.row {
  justify-content: space-between;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 20px;
}
.card-title {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  line-height: 15px;
}

.cli-th {
  display: flex;
  align-items: center;
}

.cli-table-search {
  background-color: #e9eae8;
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 2px;
  width: 200px;
  transition: ease 0.3s;
  border: solid 0.5px #d4d4d4;
  & input {
    border: none;
    background-color: transparent;
    flex: 1 1;
    padding: 0 5px;
  }
  &:focus-within {
    background-color: #f4f4f3;
  }
}

.cli-table {
  width: 100%;
  // background-color: #fff;
  // color: #FFF;

  &-sticky {
    position: sticky;
    top: 0;
  }
  & th {
    padding: 3px;
    font-weight: 600;
    text-align: center;
    background-color: #00bec0;
    color: #fff;
  }
  & td {
    vertical-align: middle;
    text-align: left;
    font-size: 0.8rem;
    padding: 3px 10px;
  }
  &-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
}

.table-container {
  width: 100%;
  overflow: auto;
  background-color: #eff1f7;
}

/* style btn - options */
.icon-btn {
  padding: 2px;
  border: none;
  display: flex;
  align-items: center;
  margin: 0 2px;
  border-radius: 2px;
  margin-top: -15px;
  cursor: pointer;
  &:disabled {
    background-color: #f4f4f3;
    color: #fff;
  }
}
.icon-20 {
  width: 20px !important;
  height: 20px !important;
  font-size: 20px !important;
}

.btn-trans {
  background-color: transparent;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: #00000014;
  }
  &:hover:enabled:active {
    background-color: #00000044;
  }
}

.c-blue {
  color: #6abcff;
  background-color: rgb(240, 239, 239);
  border: solid 0.5px #0e77ce;
}

.c-fucsia {
  color: #ff4081;
  background-color: rgb(240, 239, 239);
  border: solid 0.5px #ff4081;
}

@media (max-width: 850px) {
  th.mat-header-cell {
    font-size: x-small;
  }

  td.mat-cell {
    font-size: 11px;
    height: 40px;
  }

  .mat-form-field {
    font-size: 12px;
    width: 100%;
  }

  .cli-table {
    width: 100%;
    background-color: #fff;
    &-sticky {
      position: sticky;
      top: 0;
    }
    & th {
      padding: 2px;
      font-weight: 600;
      text-align: center;
    }
    & td {
      vertical-align: middle;
      text-align: left;
      font-size: 0.7rem;
      padding: 3px 6px;
    }
  }

  .cli-btn {
    margin-top: 15px;
  }

  .row {
    flex-direction: column;
    justify-content: end;
    margin-bottom: 0px;
  }
}
