<div
  class="cli-aside"
  [ngClass]="{ 'cli-aside-fixed': fixedAside, 'cli-aside-hover': !fixedAside }"
>
  <!-- MENÚ -->
  <div
    [ngClass]="{ 'cli-aside-overflow': fixedAside }"
    class="cli-aside-container"
  >
    <div style="height: 40px"></div>
    <ul class="cli-aside-menu">
      <li>
        <a
          (click)="clickLinkMenu()"
          class="menu-link"
          [routerLink]="'/dashboard'"
          routerLinkActive="active-link"
        >
          <i class="submenu-icon">
            <mat-icon>home</mat-icon>
          </i>
          <span *ngIf="fixedAside">Inicio</span>
        </a>
      </li>

      <ng-container *ngFor="let menu of menuConfig"></ng-container>
    </ul>
  </div>
</div>
