:host {
  height: 100vh;
  width: 100%;
  position: absolute;
}

// background: linear-gradient(45deg, black, transparent);

.logoheader {
  overflow: hidden;
  height: 56px;
  display: flex;
  color: #e9e1db;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.personname {
  color: #fff;
  line-height: 56px;
  margin: 0 5px;
}

.userName {
  margin: 0 0px;
}

.hlogo {
  height: 30px;
}

.logo-let {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 0 10px;
  color: white;
}

.header-icon {
  display: none;
  align-items: center;
  width: 48px;
  transition: 0.3s ease;
  color: #ffffff;
}

.mat-icon {
  margin: auto;
}

.btn-header {
  background-color: #f3f3f3;
  color: rgb(128, 125, 125);
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: #f8e7e5;
  }
  &:hover:enabled:active {
    background-color: #b0b2b1;
  }
}

.mat-menu-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.btn-fucsia {
  background-color: #FF4081;


  color: #fff;
  transition: ease 0.3s;
  cursor: pointer;
  &:hover:enabled {
    background-color: #ecd0e8;
  }
  &:hover:enabled:active {
    background-color: #b4dee6;
  }
}


.cli-btn {
  border: none;
  border-radius: 2px;
  margin: 20px;
  padding: 0 25px;
  font-family: "roboto light" !important;
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 16px;
  & mat-icon {
    margin: 0 5px;
  }
  &:disabled {
    background-color: #b4dee6;
    color: #fff;
  }
}

.links{
  display: flex;
  font-size: 14px;
  & div{
    margin: 0 10px;
    border-bottom: 2px solid transparent;
    transition: ease .3s;
    &:hover{
      cursor: pointer;
      color: rgb(160, 193, 225);
    }
  }
}
.l-active{
  border-color: #fff !important;
}

@media (max-width: 850px) {
  .title-header {
    font-size: 13px;
  }

  .logoheader {
    margin-left: 0px;
  }

  .personname {
    font-size: 10px;
  }

  .personname {
    font-size: 0px;
  }


  .logo-let {
    font-size: 0.9rem;
    margin-left: 4px;
  }

  .cli-btn {
  // height: 28px;
  margin: 4px;
  // padding: 0 14px;
  // font-size: 12px;
  }
}
