<mat-sidenav-container fullscreen style="background:#f2f4ff">
  <mat-toolbar style="background-color: #0e3f58; padding: 0 8px;">
    <div class="logoheader">
      <img
        class="hlogo"
        src="../../../assets/images/logos/tercerosLogoHeader.svg"
      />
      <div class="logo-let">
        <div style="font-weight: bold">Emp. colaboradoras</div>
      </div>
      <div class="links">
        <div routerLinkActive="l-active" routerLink="/public/qr">Valicaión QR</div>
        <!-- <div routerLinkActive="l-active" routerLink="/public/disney">QR Disney</div> -->
        <div routerLinkActive="l-active" routerLink="/public/firmas">QR Firmas</div>
        <div routerLinkActive="l-active" routerLink="/public/emergencia">QR Emergencia</div>
      </div>
    </div>

    <div style="flex: 1 1 auto"></div>
    <button class="cli-btn btn-fucsia"
            routerLink="/login"
            >
      Login
    </button>
  </mat-toolbar>

  <!-- <users-qr></users-qr> -->
  <app-footer ></app-footer>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
