<div *ngIf="!loading" class="cli-body">
  <app-header></app-header>
  <app-aside (generalFixedAside)="changeAsideFixed($event)"></app-aside>

  <div
    class="cli-canvas"
    [ngClass]="{
      'cli-canvas-fixedaside': fixedAside,
      'cli-canvas-hiddenaside': !fixedAside
    }"
  >
    <div class="cli-content">
      <block-ui>
        <router-outlet></router-outlet>
      </block-ui>
    </div>
    <app-footer></app-footer>
  </div>
  <app-user-panel></app-user-panel>
</div>


<div *ngIf="loading" class="cli-body">
  <div class="error-message">
    <mat-spinner
      *ngIf="loading && !menuError"
      diameter="30"
      style="margin: 5px auto"
    ></mat-spinner>
    <mat-icon class="error-icon" *ngIf="menuError">error</mat-icon>
    {{ message }}
  </div>
</div>
