<div
  class="cli-mobile-menu"
  [ngClass]="{ 'mobile-menu-active': active, 'mobile-menu-hidden': !active }"
>
  <!-- MENU -->
  <div class="mobile-menu-body">
    <div class="mobile-menu-logo">
      <mat-icon (click)="close()" class="overlay-close">close</mat-icon>
    </div>
    <div class="cli-aside-container">
      <ul class="cli-aside-menu">
        <li>
          <a
            (click)="close()"
            class="menu-link"
            [routerLink]="'/dashboard'"
            routerLinkActive="active-link"
          >
            <i class="submenu-icon">
              <mat-icon>home</mat-icon>
            </i>
            <span>Web de Terceros</span>
          </a>
        </li>

        <ng-container
          *ngFor="let menu of menuConfig"
          [ngTemplateOutlet]="menuItem"
          [ngTemplateOutletContext]="{ item: menu }"
        ></ng-container>
      </ul>
    </div>
  </div>
</div>

<!-- MENUS -->
<ng-template #menuItem let-item="item">
  <!-- MENUS CON SUB MENUS-->
  <li *ngIf="item.type=='PAREN'" (click)="showSubMenu(item)" class="cli-menu-item">
      <div class="menu-link">
          <i class="menu-icon"><mat-icon >{{item.icon}}</mat-icon></i>
          <span>{{ item.text}}</span>
      </div>
  </li>
  <!-- MENUS DIRECTO-->
  <li *ngIf="item.type=='ALONE'"  class="cli-menu-item">
      <a (click)="close()" class="menu-link" [routerLink]="item.link" routerLinkActive="active-link">
          <i class="menu-icon"><mat-icon >{{item.icon}}</mat-icon></i>
          <span>{{item.text}}</span>
      </a>
  </li>
</ng-template>
