.user-bag {
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: #00bec0;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s ease;
  width: 40px;
  height: 40px;
  margin: 8px;
  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 1px 0 #00000020, 0 2px 5px 0 #00000080;
  }
}

@media (max-width:850px){
  .user-bag {
    width: 30px;
  height: 30px;
  }
}
